/* Enter your custom styles here */
.masterStyle .sapMSplitContainerMaster{
	width:25%;
}

.hoverClass {
	background: #fef0db !important;
	background-color: #fef0db !important;
    border-color: #f9a429 !important;
    color: #333333 !important;
    border: 1px solid;
    border-radius: 0.1875rem;
    box-sizing: border-box;
    font-size: 0.875rem;
    font-weight: normal;
    padding: 0.4375rem 1rem;
    position: relative;
}

.sapMPopover .sapMPopoverCont {
	background-color: #fef0db !important;
}
